.tab-container {
  width: 100%;
  height: 100%;
}

.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-tab {
  position: absolute;
  right: 0;
}

.new-tab-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.new-tab-modal input {
  margin-left: 10px;
}

.new-tab-modal button:first-of-type {
  margin-left: 10px;
}
